.contact {
  background-color: #fff;
  padding: 5rem 0;
}
.contact-wrap {
  margin: auto;
  text-align: center;
}
.contact__form {
}
.contact-form-wrap {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 -15px 45px;
  text-align: left;
  /* height: 100%; */
}
.contact-form__info {
  width: 40%;
  margin: 15px;
}
.contact-form-label {
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 4.6875rem;
  color: #bdbdbd;
}
.contact-form-item {
  display: block;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2.8125rem;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  padding: 0 5px;
}
.contact-form-item:last-child {
  margin-bottom: 0;
}
.contact-form-message {
  width: 40%;
  margin: 0 15px;
  height: 100%;
}
textarea#contact-message {
  font-family: "Open Sans", sans-serif;
  /* height: 272px; */
  height: 100%;
  resize: none;
  padding: 0 10px;
}
.contact-form-button {
  display: inline-block;
  transition: 0.5s;
}
.contact-form__buttom {
  background-color: #ec7979;
  border: 1px solid #ec7979;
  padding: 15px 25px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.contact-form-button:hover {
  transform: scale(1.2);
}
.contact-form__buttom:hover {
  background-color: #fff;
  border: 1px solid #ec7979;
  color: #ec7979;
}
