.header {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
}
#header-container {
  padding: 0 15px;
  background: none;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.header__logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  display: inline;
}
.header__logo span::after {
  content: "it";
  display: inline;
  color: #ec7979;
}
.nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.nav li {
  /* margin-left: 45px; */
  transition: 0.1s;
}
.nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}
.nav a:hover {
  color: #ec7979;
}
.nav li:hover {
  transform: scale(1.2);
}
.feat {
}
.about {
}
.price {
}
.reviews {
}
.contact {
}
