.header {
  background-color: #000000;
  color: #fff;
}
#header-container {
  padding: 20px 0;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  display: inline;
}
.header__logo p::after {
  content: "it";
  display: inline;
  color: #ec7979;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav li {
  margin-left: 45px;
}
.nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}
.nav a:hover {
  color: #ec7979;
}
.nav li:hover {
  transform: scale(1.2);
}
.feat {
}
.about {
}
.price {
}
.reviews {
}
.contact {
}
